@using LBCAlerterWeb.Models
@model LBCAlerterWeb.Models.Search
@{
    ViewBag.Title = "Dernières annonces";
    ViewBag.Current = "search_" + Model.ID;
    ViewBag.Large = true;

    var s = "50";
    if (Model.Ads.Count() < 50)
    {
        s = Model.Ads.Count().ToString();
    }
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-tachometer"></i> Liste des @s dernières annonces trouvées
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li>@Html.ActionLink("LBC Alerter", "Index")</li>
            <li class="active">Dernières annonces</li>
        </ol>
    </div>
</div>
<!-- /page header -->

<div class="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (Model.Ads.Any())
        {
            <i class="fa fa-rss"></i>
            @Html.ActionLink("Flux Rss", "AdListFeed", new { id = Model.ID })
        }

        <div class="table">
            @foreach (var item in Model.Ads.Take(50))
            {
                <div class="row row-margin">
                    <div class="col-md-6">
                        @if (item != null && item.Contents.Count(entry => entry.Type == AdContent.ContentType.PictureUrl.ToString()) > 0)
                        {
                            <img src="@Html.DisplayFor(modelItem => item.Contents.FirstOrDefault(entry => entry.Type == AdContent.ContentType.PictureUrl.ToString()).Value)" width="200px" />
                        }
                    </div>
                    <div class="col-md-6">
                        <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.Raw(item.Title)</a><br />
                        @Html.Raw(item.Date)<br />
                        @Html.Raw(item.Contents.FirstOrDefault(entry => entry.Type == AdContent.ContentType.Place.ToString()).Value)<br />
                        @Html.Raw(item.Contents.FirstOrDefault(entry => entry.Type == AdContent.ContentType.Price.ToString()).Value)
                    </div>
                </div>
            }
        </div>
        <div class="links">
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>