@model LBCAlerterWeb.Models.Search
@{
    ViewBag.Title = "Dernières annonces";
    ViewBag.Current = "search_" + Model.ID;
    ViewBag.Large = true;

    var s = "50";
    if (Model.Ads.Count() < 50)
    {
        s = Model.Ads.Count().ToString();
    }
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-tachometer"></i> Liste des @s dernières annonces trouvées
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li><a href="@Url.Action("Index", "Search")">LBC Alerter</a></li>
            <li class="active">Dernières annonces</li>
        </ol>
    </div>
</div>
<!-- /page header -->

<div class="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (Model.Ads.Any())
        {
            <i class="fa fa-rss"></i>
            @Html.ActionLink("Flux Rss", "AdListFeed", new { id = Model.ID })
        }
        <table class="table">

            @foreach (var item in Model.Ads.Take(50))
            {
                <tr>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @if (item != null && item.PictureUrl.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries).Length > 0)
                        {
                            <img src="@Html.DisplayFor(modelItem => item.PictureUrl).ToString().Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries).First()" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price).ToString().Replace("&amp;nbsp;&amp;euro;", " €")
                    </td>
                </tr>
            }

        </table>
        <div class="links">
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>