@using LBCMapping
@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Nouvelle alerte";
    ViewBag.Current = "new";
    ViewBag.Large = true;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-edit"></i> Nouvelle alerte
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li>@Html.ActionLink("LBC Alerter", "Index")</li>
            <li class="active">Nouvelle alerte</li>
        </ol>
    </div>
</div>
<!-- /page header -->
@if (Model.Count() >= 5 && !Roles.IsUserInRole("admin") && !Roles.IsUserInRole("premium"))
{
    <p style="color: red;">
        Il vous faut un compte premium pour ajouter plus de 5 recherches.<br />
        Un compte premium s'obtient en faisant un don du montant que vous voulez.<br />
        @Html.ActionLink("Soyez sympa !", "Create", "Don")
    </p>
}
else
{
    <div id="iframeContainer">
        @Html.Raw(HtmlParser.GetSpecificContent(PageType.Home, ContentType.Body)[0])
        <div class="clearfix"></div>
    </div>
}

<div class="links">
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[id^="county_"], area').each(function () {
                var link = $(this).attr('href');
                $(this).attr('href', '@Url.Action("CreateStepTwo")?url=' + link.replace('http://www.leboncoin.fr/', '') + '');
            });
        });
    </script>

    @foreach (var script in HtmlParser.GetSpecificContent(PageType.Home, ContentType.Script))
    {
        @Html.Raw(script)
    }
}