@using LBCMapping
@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Nouvelle alerte";
    ViewBag.Current = "new";
    ViewBag.Large = true;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-edit"></i> Nouvelle alerte
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li>@Html.ActionLink("LBC Alerter", "Index")</li>
            <li class="active">Nouvelle alerte</li>
        </ol>
    </div>
</div>
<!-- /page header -->

@if (Model.Count() >= 5 && !Roles.IsUserInRole("admin") && !Roles.IsUserInRole("premium"))
{
    <p style="color: red;">
        Il vous faut un compte premium pour ajouter plus de 5 recherches.<br />
        Un compte premium s'obtient en faisant un don du montant que vous voulez.<br />
        @Html.ActionLink("Soyez sympa !", "Create", "Don")
    </p>
}
else
{
    <div class="lbc-content">
        @Html.Raw(HtmlParser.GetSpecificContent(PageType.Criteria, ContentType.Body, ViewBag.Url)[0])
        <div class="clearfix"></div>
    </div>
}

<div class="links">
    @Html.ActionLink("Retour à la carte", "Create")
</div>

@section Scripts {
    @{
        var nodes = HtmlParser.GetSpecificContent(PageType.Criteria, ContentType.Script, ViewBag.Url);
    }

    @foreach (var script in nodes)
    {
        var val = string.Empty;
        
        if (script.Contains("hasAdBlocker") ||
            script.Contains("oas_") ||
            script.Contains("OAS_"))
        {
            continue;
        }
        
        if (script.Contains("perform_search"))
        {
            var start = script.IndexOf("window.location.href");
            val = script.Insert(start, @"if(new_url.indexOf('&q=') == -1) {
                                            if(!confirm('Attention vous n\'avez pas spécifié de mots clé, est-ce volontaire ?')) {
                                                return false;
                                            }
                                        }

                                        $.ajax({
                                            url: '" + @Url.Action("Create") + @"',
                                            type: 'POST',
                                            data: {
                                                Url: new_url,
                                                RefreshTime: 60
                                            },
                                            success: function (data) {
                                                if(!data['success']) {
                                                    alert(data['message']);
                                                } else {
                                                    alert('Votre recherche a bien été crée vous allez recevoir 5 mails correspondants aux dernières annonces parues.');
                                                }
                                                window.top.location.href = '" + @Url.Action("Index") + @"';
                                            }
                                        });
                                        return false;");
        }
        else if (script.Contains("/* jQuery v1.7.1"))
        {
            var start = script.IndexOf("/* jQuery v1.7.1");
            var stop = script.IndexOf("})(window);");

            val += script.Substring(0, start);
            var secondPart = script.Substring(stop + "})(window);".Length, script.Length - (stop + "})(window);".Length));

            start = secondPart.IndexOf("/*");
            stop = secondPart.IndexOf("})(jQuery);", start);

            val += secondPart.Substring(0, start);
            val += secondPart.Substring(stop + "})(jQuery);".Length, secondPart.Length - (stop + "})(jQuery);".Length));

            val = val.Replace("(jQuery)", string.Empty);
        }
        else
        {
            val = script;
        }

        /*
         * ajax is api, unused by other...
         * 
         * if (val.Contains("/ajax/"))
        {
            val = val.Replace("/ajax/", "http://www.leboncoin.fr/ajax/");
        }*/

        @Html.Raw(val)
    }
    
    <script type="text/javascript">
        $('input[id$="_datepicker"]').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1
        }).on('changeDate', function() {
            var values = $(this).val().split('/');
            if (values.length == 3) {
                $('#' + $(this).attr('id').replace('_datepicker', '')).val(values[2] + values[1] + values[0]);
            }
        });
    </script>
}