@using LBCMapping
@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Nouvelle alerte";
    ViewBag.Current = "new";
    ViewBag.Large = true;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-edit"></i> Nouvelle alerte
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li>@Html.ActionLink("LBC Alerter", "Index")</li>
            <li class="active">Nouvelle alerte</li>
        </ol>
    </div>
</div>
<!-- /page header -->

@if (Model.Count() >= 5 && !Roles.IsUserInRole("admin") && !Roles.IsUserInRole("premium"))
{
    <p style="color: red;">
        Il vous faut un compte premium pour ajouter plus de 5 recherches.<br />
        Un compte premium s'obtient en faisant un don du montant que vous voulez.<br />
        @Html.ActionLink("Soyez sympa !", "Create", "Don")
    </p>
}
else
{
    <div class="lbc-content">
        @Html.Raw(HtmlParser.GetSpecificContent(PageType.Criteria, ContentType.Body, ViewBag.Url)[0])
        <div class="clearfix"></div>
    </div>
}

<div class="links">
    @Html.ActionLink("Retour à la carte", "Create")
</div>

@section Scripts {
    @{
        var nodes = HtmlParser.GetSpecificContent(PageType.Criteria, ContentType.Script, ViewBag.Url);
    }

    @foreach (var script in nodes)
    {
        var val = string.Empty;
        if (script.Contains("perform_search"))
        {
            var start = script.IndexOf("window.location.href");
            val = script.Insert(start, @"var searchUrl = new_url.replace('?&', '?\\');
                                        if(searchUrl.indexOf('&q=') == -1) {
                                            if(!confirm('Attention vous n\'avez pas spécifié de mots clé, est-ce volontaire ?')) {
                                                return false;
                                            }
                                        }

                                        $.ajax({
                                           url: '" + @Url.Action("Create") + @"',
                                           type: 'POST',
                                           data: {
                                               Url: searchUrl,
                                               RefreshTime: 15,
                                               MailAlert: true,
                                               MailRecap: false,
                                           },
                                           success: function (data) {
                                               if(!data['success']) {
                                                  alert(data['message']);
                                               } else {
                                                   alert('Votre recherche a bien été crée vous allez recevoir 5 mails correspondants aux dernières annonces parues.');
                                               }
                                                window.top.location.href = '" + @Url.Action("Index") + @"';
                                           }
                                        });
                                        return false;");
        }
        else if (script.Contains("})(window);"))
        {
            var start = script.IndexOf("(function(a,b){");
            var stop = script.IndexOf("})(window);");

            val += script.Substring(0, start);
            val += script.Substring(stop + "})(window);".Length, script.Length - (stop + "})(window);".Length));
        }
        else
        {
            val = script;
        }

        if (val.Contains("/ajax/"))
        {
            val = val.Replace("/ajax/", "http://www.leboncoin.fr/ajax/");
        }

        @Html.Raw(val)
    }
}