@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Nouvelle alerte";
    ViewBag.Current = "new";
    ViewBag.Large = true;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-edit"></i> Nouvelle alerte
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li><a href="@Url.Action("Index", "Search")">LBC Alerter</a></li>
            <li class="active">Nouvelle alerte</li>
        </ol>
    </div>
</div>
<!-- /page header -->
@if (Model.Count() >= 5 && !Roles.IsUserInRole("admin") && !Roles.IsUserInRole("premium"))
{
    <p style="color: red;">
        Il vous faut un compte premium pour ajouter plus de 5 recherches.<br />
        Un compte premium s'obtient en faisant un don du montant que vous voulez.<br />
        @Html.ActionLink("Soyez sympa !", "Create", "Don")
    </p>
}
else
{
    <div id="iframeContainer">
        <iframe id="firstPage"></iframe>
        <iframe id="secondPage"></iframe>
    </div>
}

<div class="links">
    @Html.ActionLink("Retour à la liste", "Index")
</div>


@section Scripts {
    <script type="text/javascript">
        var content = '@Html.Raw(@LBCMapping.HtmlParser.GetHomePage().Replace("<", "&lt;").Replace(">", "&gt;").Replace("<!--", string.Empty).Replace("-->", string.Empty).Replace("'", "\\'").Replace("\n", "' + \n'"))';

        $(document).ready(function() {
            content = content + "&lt;script&gt; " +
                "var elements = document.getElementsByTagName(\"area\");" +
                "for(var i = 0; i < elements.length; i++) {" +
                "    elements[i].setAttribute('onclick', 'parent.showSecondPage(\"' + elements[i].getAttribute(\"href\") + '\");');" +
                "    elements[i].setAttribute('href', '#');" +
                "}" +
                "elements = document.getElementsByTagName(\"a\");" +
                "for(var i = 0; i < elements.length; i++) {" +
                "    elements[i].setAttribute('onclick', 'parent.showSecondPage(\"' + elements[i].getAttribute(\"href\") + '\");');" +
                "    elements[i].setAttribute('href', '#');" +
                "}" +
                "&lt;/script&gt;";
            content = content.replace(/&lt;/g, '<').replace(/&gt;/g, '>');

            document.getElementById('firstPage').contentWindow.document.write(content);
            document.getElementById('firstPage').contentWindow.document.close();

            $('#firstPage').show();
            $('#secondPage').hide();
        });

        function showSecondPage(link) {
            $('#firstPage').hide();
            $('#secondPage').show();

            $.ajax({
                url: '@Url.Action("DisplaySecondPage", "Search")',
                type: 'POST',
                data: { url: link },
                success: function(data) {
                    var content = data["html"].replace('window.location.href', 'var searchUrl')
                        .replace('return false;',
                            'if(searchUrl.indexOf("&q=") == -1) ' +
                            '   if(!confirm("Attention vous n\'avez pas spécifié de mots clé, est-ce volontaire ?")) ' +
                            '       return false; ' +
                            '$.ajax({ ' +
                            '   url: \'@Url.Action("Create", "Search")\', ' +
                            '   type: \'POST\', ' +
                            '   data: { ' +
                            '       Url: searchUrl, ' +
                            '       RefreshTime: 15, ' +
                            '       MailAlert: true, ' +
                            '       MailRecap: false, ' +
                            '   }, ' +
                            '   success: function (data) { ' +
                            '       if(!data["success"]) ' +
                            '          alert(data["message"]); ' +
                            '       else ' +
                            '           alert(\'Votre recherche a bien été crée vous allez recevoir 5 mails correspondants aux dernières annonces parues.\'); ' +
                            '       window.top.location.href = \'@Url.Action("Index", "Search")\'; ' +
                            '   } ' +
                            '}); ' +
                            'return false;')
                        .replace(/&lt;/g, '<')
                        .replace(/&gt;/g, '>');

                    document.getElementById('secondPage').contentWindow.document.write(content);
                    document.getElementById('secondPage').contentWindow.document.close();
                }
            });
        }
    </script>
}