@model LBCAlerterWeb.Models.Search

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<iframe id="lbcContainer" name="lbcContainer" src="http://www.leboncoin.fr/" style="width: 1140px; height: 800px;"></iframe>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeyWord, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeyWord)
                @Html.ValidationMessageFor(model => model.KeyWord)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        //$(window).load(function () {
            //$('#lbcContainer').ready(function () {
            setTimeout(function() {
               /* alert("test");
                $("#lbcContainer").contents().find("table#TableContentTop").hide();
                alert("TableContentTop");
                $("#lbcContainer").contents().find("span.SeparatorText").hide();
                alert("SeparatorText");
                $("#lbcContainer").contents().find("div.Deposer").hide();
                alert("Deposer");*/
                $("#lbcContainer").contents().find("#incr_renc_home_button").hide();
                alert("incr_renc_home_button");
                /*$("#lbcContainer").contents().find("div#Footer").hide();
                alert("Footer");
                $("#lbcContainer").contents().find("div#Banner_sky").hide();
                alert("Banner_sky");

                var $head = $("#lbcContainer").contents().find("head");
                $head.append($("<link/>",
                { rel: "stylesheet", href: "/Content/lbc.css", type: "text/css" }));*/
            }, 1);
        //});
    </script>
}