@model LBCAlerterWeb.Models.Search

@{
    ViewBag.Title = "Ajouter";
}

<h2>Ajouter</h2>

@using (Html.BeginForm())
{
    <div id="iframeContainer">
        <iframe id="firstPage" srcdoc="@LBCMapping.HtmlParser.GetHomePage()" style="width: 100%; height: 520px;"></iframe>
    </div>

    <div>
        @Html.ActionLink("Retour à la liste", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function showSecondPage(link) {
            $.ajax({
                url: '@Url.Action("DisplaySecondPage", "Search")',
                type: 'POST',
                data: { url: link },
                success: function (data) {
                    $('<iframe />', {
                        name: 'secondPage',
                        id: 'secondPage',
                        style: 'width: 100%; height: 330px;',
                        srcdoc: data["html"].replace('window.location.href', 'var searchUrl')
                            .replace('return false;',
                            'if(searchUrl.indexOf("&q=") == -1) ' +
                            '   if(!confirm("Attention vous n\'avez pas spécifié de mots clé, est-ce volontaire ?")) ' +
                            '       return false; ' +
                            '$.ajax({ ' +
                            '   url: \'@Url.Action("Create", "Search")\', ' +
                            '   type: \'POST\', ' +
                            '   data: { Url: searchUrl }, ' +
                            '   success: function (data) { ' +
                            '       if(!data["success"]) ' +
                            '          alert(data["message"]); ' +             
                            '       window.top.location.href = \'@Url.Action("Index", "Search")\'; ' +
                            '   } ' +
                            '}); ' +
                            'return false;')
                    }).appendTo('#iframeContainer');
                }
            });
        }

        $('#firstPage').load(function () {
            $(this).contents().find("area").click(function (event) {
                $('#firstPage').hide();
                showSecondPage($(this).attr('href'));
            });
        });

        $('#firstPage').load(function () {
            $(this).contents().find("a").click(function (event) {
                $('#firstPage').hide();
                showSecondPage($(this).attr('href'));
            });
        });
    </script>
}