@model LBCAlerterWeb.Models.Search
@{
    ViewBag.Title = "Désactivation";
}

<h4>@ViewBag.Title</h4>
<hr />

<p>
    Votre alerte "@Model.KeyWord" a bien été désactivée, s'il s'agit d'une erreur cliquez @Html.ActionLink("ici", "Edit", new { Model.ID })
</p>

<div class="links">
    @Html.ActionLink("Retour à la liste", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
