@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Liste des alertes";
    Layout = "~/Views/Shared/_PrettyLayout.cshtml";
}

<h2>Liste des alertes</h2>
@if(Model.Count() >= 5 && !Roles.IsUserInRole("admin") && !Roles.IsUserInRole("premium"))
{
    <p style="color: red;">
        Version beta, limité à cinq alertes<br />
    </p>
    <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="N6SJGHGSKKX4S">
        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>-->
}
else
{
    <p>
        @Html.ActionLink("Ajouter", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KeyWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAlert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailRecap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefreshTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ads)
        </th>
        <th>
            Rss
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KeyWord)
        </td>
        <td>
            <div class="label-cb">
                @Html.CheckBoxFor(modelItem => item.MailAlert, new { @class = "ios-toggle" })
                @Html.LabelFor(modelItem => item.MailAlert, new { @class = "checkbox-label" })
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailRecap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefreshTime)
        </td>
        <td>
            @Html.ActionLink("Liste", "AdList", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Flux", "AdListFeed", new { id = item.ID })
        </td>
        <td>
            @Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
