@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Liste des alertes";
    Layout = "~/Views/Shared/_PrettyLayout.cshtml";
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-tachometer"></i> Liste des alertes
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
            <li class="active">LBC Alerter</li>
        </ol>
    </div>
</div>
<!-- /page header -->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KeyWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAlert)
        </th>
        <th>
            Alertes email ?
        </th>
        <th>
            Récap. email ?
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ads)
        </th>
        <th>
            Rss
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KeyWord)
            </td>
            <td>
                <div class="col-xs-4 control-label">
                    <div class="onoffswitch dutch">
                        @Html.CheckBoxFor(modelItem => item.MailAlert, new { @id = "alert", @class = "onoffswitch-checkbox", @disabled = "true" })
                        <label class="onoffswitch-label" for="MailAlert">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-xs-4 control-label">
                    <div class="onoffswitch dutch">
                        @Html.CheckBoxFor(modelItem => item.MailRecap, new { @id = "recap", @class = "onoffswitch-checkbox", @disabled = "true" })
                        <label class="onoffswitch-label" for="MailRecap">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefreshTime)
            </td>
            <td>
                @Html.ActionLink("Liste", "AdList", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Flux", "AdListFeed", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Supprimer", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        $('.menu li').each(function() {
            $(this).removeClass('active');
        });

        $('#dashboard').addClass('active');
    </script>
}