@using Microsoft.AspNet.Identity
@model IEnumerable<LBCAlerterWeb.Models.Search>
@{
    ViewBag.Title = "Tableau de bord";
    ViewBag.Current = "dashboard";
    ViewBag.Large = true;

    var notifs = Helper.GetImportantNotifications(User.Identity.GetUserId()).ToList();
    
    var cardCount = 0;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-tachometer"></i> Tableau de bord
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li class="active">LBC Alerter</li>
        </ol>
    </div>
</div>
<!-- /page header -->

@if (Model.Any())
{
    <div class="row cards">

        @foreach (var item in Model)
        {
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-blue hover">
                    <div class="front">
                        <div class="media">
                            <span class="pull-left">
                                <i class="fa fa-bell-o media-object"></i>
                            </span>
                            <div class="media-body">
                                <small>@Html.DisplayFor(modelItem => item.KeyWord)</small>
                            </div>
                        </div>
                        <div class="progress-list">
                            <div class="details">
                                @Html.DisplayNameFor(model => model.RefreshTime) :
                                @Html.DisplayFor(modelItem => item.RefreshTime)

                                <div class="onoffswitch-container">
                                    @Html.Label("", "Alertes email ?", new { @class = "control-label" })
                                    <div class="col-xs-4 control-block">
                                        <div class="onoffswitch labeled success">
                                            @Html.CheckBoxFor(modelItem => item.MailAlert, new { @class = "onoffswitch-checkbox", @disabled = "true" })
                                            <label class="onoffswitch-label" for="MailAlert">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="onoffswitch-container">
                                    @Html.Label("", "Recap email ?", new { @class = "control-label" })
                                    <div class="col-xs-4 control-block">
                                        <div class="onoffswitch labeled success">
                                            @Html.CheckBoxFor(modelItem => item.MailRecap, new { @class = "onoffswitch-checkbox", @disabled = "true" })
                                            <label class="onoffswitch-label" for="MailRecap">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="back">
                        <div class="back-links pull-left">
                            <a href="@Url.Action("AdList", new { id = item.ID })">
                                <i class="fa fa-search fa-4x"></i>
                                <span>Résultats</span>
                            </a>
                        </div>
                        <div class="back-links pull-left">
                            <a href="@Url.Action("Edit", new { id = item.ID })">
                                <i class="fa fa-edit fa-4x"></i>
                                <span>Modifier</span>
                            </a>
                        </div>
                        <div class="back-links pull-right">
                            <a href="@Url.Action("Delete", new { id = item.ID })">
                                <i class="fa fa-remove fa-4x"></i>
                                <span>Supprimer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            /*
         * Rss useless
         * 
         * @Html.ActionLink("Flux", "AdListFeed", new { id = item.ID })*/

            cardCount++;

            if (cardCount % 4 != 0)
            {
                continue;
            }

            cardCount = 0;
            @Html.Raw("</div><div class=\"row cards\">")
            ;
        }
    </div>
}
else
{
    <a href="@Url.Action("Create")" class="btn btn-primary btn-lg">C'est bien vide ici !</a>
}

@if (notifs.Any())
{
    <div class="modal" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <h3 class="modal-title" id="modalDialogLabel">@notifs.FirstOrDefault().Title</h3>
                </div>
                <div class="modal-body">
                    <p>@Html.Raw(@notifs.FirstOrDefault().Message)</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

@section Scripts {
    @if (notifs.Any())
    {
        <script type="text/javascript">
            $('#modalDialog').modal('show');
        </script>

        Helper.SetNotificationAsRead(notifs.First());
    }
}
