@using LBCAlerterWeb.Models
@using Microsoft.AspNet.Identity

@{
    var notifCount = Helper.GetNotificationCount(User.Identity.GetUserId());
}

@if (User.Identity.IsAuthenticated)
{
    <div id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-top navbar-transparent-black">
        <div class="navbar-header col-md-2">
            <a class="navbar-brand">LBC Alerter</a>
            <div class="sidebar-collapse">
                <a href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        <div class="navbar-collapse">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav quick-actions">
                    <li class="dropdown divided user" id="current-user">
                        <div class="profile-photo">
                            <img src="~/Content/images/profil.gif" alt="">
                        </div>
                        <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
                            @User.Identity.GetUserName() <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu arrow settings animated fadeInDown">
                            <li>
                                <a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i> Profil</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            <!-- /Quick Actions -->
            <!-- Sidebar -->
            <ul class="nav navbar-nav side-nav" id="sidebar" tabindex="5000" style="overflow: hidden; outline: none;">
                <li class="navigation" id="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation <i class="fa fa-angle-up"></i></a>
                    <ul class="menu">
                        <li id="dashboard">
                            <a href="@Url.Action("Index", "Search")">
                                <i class="fa fa-dashboard"></i> Tableau de bord
                            </a>
                        </li>
                        <li id="search" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list"></i> Alertes <b class="fa fa-plus dropdown-plus"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var search in Helper.GetSearch(User.Identity.GetUserId()))
                                {
                                    <li id="search_@search.ID">
                                        <a href="@Url.Action("Edit", "Search", new { ID = search.ID })">
                                            <i class="fa fa-caret-right"></i> @search.KeyWord
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li id="new">
                            <a href="@Url.Action("Create", "Search")">
                                <i class="fa fa-edit"></i> Nouvelle alerte
                            </a>
                        </li>
                        <li id="notif">
                            <a href="@Url.Action("Index", "Notification")">
                                <i class="fa fa-exclamation"></i> Quoi de neuf ?
                                @if (notifCount > 0)
                                {
                                    <span class="badge badge-red">@notifCount</span>
                                }
                            </a>
                        </li>
                        <li id="pay">
                            <a href="@Url.Action("Create", "Don")">
                                <i class="fa fa-credit-card"></i> Soyez sympa !
                            </a>
                        </li>
                    </ul>
                </li>
                @if (Roles.IsUserInRole("admin"))
                {
                    <li class="navigation" id="admin">
                        <a href="#" class="sidebar-toggle" data-toggle="#admin">Administration <i class="fa fa-angle-up"></i></a>
                        <ul class="menu">
                            <li id="user">
                                <a href="@Url.Action("All", "Account")">
                                    <i class="fa fa-users"></i> Tout les utilisateurs
                                </a>
                            </li>
                            <li id="searchs">
                                <a href="@Url.Action("All", "Search")">
                                    <i class="fa fa-list"></i> Toutes les alertes
                                </a>
                            </li>
                            <li id="notification">
                                <a href="@Url.Action("All", "Notification")">
                                    <i class="fa fa-exclamation-circle"></i> Toutes les notifications
                                </a>
                            </li>
                            <li id="payments">
                                <a href="@Url.Action("Index", "Don")">
                                    <i class="fa fa-usd"></i> Tout les paiements
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li id="social">
                    <a href="#" class="sidebar-toggle underline" data-toggle="#social">Parlez-en ! <i class="fa fa-angle-up"></i></a>

                    <div class="social-container">
                        <i class="fa fa-facebook icon-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://lbcalerter.com')"></i>
                        <i class="fa fa-twitter icon-twitter" onclick="window.open('https://twitter.com/home?status=Faites%20comme%20moi,%20créez%20des%20alertes%20sur%20le%20bon%20coin%20avec%20http://lbcalerter.com')"></i>
                        <i class="fa fa-google-plus icon-googleplus" onclick="window.open('https://plus.google.com/share?url=http://lbcalerter.com')"></i>
                    </div>

                </li>
            </ul>
            <!-- Sidebar end -->
        </div>
    </div>
}
