@using Microsoft.AspNet.Identity

@{
    var background = Helper.GetBackground(User.Identity.GetUserId());
    if (!string.IsNullOrEmpty(ViewBag.Video))
    {
        background = ViewBag.Video;
    }   
    
    var video = background.StartsWith("video-");
    var staticbg = string.Empty;
    if (!video)
    {
        staticbg = background;
    }
}

<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Eddy MONTUS">
        <meta name="description" content="Fournisseur d’alertes sur le site leboncoin.fr, ce site n’est aucunement affilié à leboncoin.fr"/>
        <meta property="og:title" content="@ViewBag.Title"/>
        <meta property="og:type " content="leboncoin.alertes"/>
        <meta property="og:url" content="http://lbcalerter.com"/>
        <meta property="og:site_name" content="LBC Alerter"/>
        <meta property="og:description" content="Fournisseur d’alertes sur le site leboncoin.fr, ce site n’est aucunement affilié à leboncoin.fr"/>
        <title>@ViewBag.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto:100,300,300italic,400,500,700|Roboto+Condensed:300,400,700|Roboto+Slab:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/jqueryui")
        @Styles.Render("~/Content/minimal")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", required: false)

    </head>
<body class="@staticbg">
    <div class="mm-page">
        <div id="wrap">
            <div class="row">
                @if (!User.Identity.IsAuthenticated)
                {
                    if (string.IsNullOrEmpty(ViewBag.Video))
                    {
                        @Html.ActionLink("Comment ça marche", "HowItsWork", "Home", null, new { @class = "btn btn-info btn-lg btn-home" })
                    }
                    else
                    {
                        @Html.ActionLink("Connexion", "Login", "Account", null, new { @class = "btn btn-success btn-lg btn-home" })
                    }
                }

                @Html.Partial("_NavBarPartial")

                <div id="content" class="col-md-12" tabindex="5001" style="overflow: hidden; outline: none;">
                    @if (ViewBag.Large != null && ViewBag.Large)
                    {
                        @RenderBody()
                    }
                    else
                    {
                        <div class="small-form">
                            @RenderBody()
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <section class="videocontent" id="video">
        @if (video)
        {
            @Html.Raw("<div class=\"video-background " + background + "\"></div>");
        }
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/minimal")

    @if (video)
    {
        <script type="text/javascript">
            minimal.changeVideoBg();
        </script>
    }

    <script type="text/javascript">
        if (!String.prototype.startsWith) {
            Object.defineProperty(String.prototype, 'startsWith', {
                enumerable: false,
                configurable: false,
                writable: false,
                value: function (searchString, position) {
                    position = position || 0;
                    return this.lastIndexOf(searchString, position) === position;
                }
            });
        }

        $('.menu li').each(function () {
            $(this).removeClass('active');
        });

        if ('@ViewBag.Current'.startsWith('search_')) {
            $('#search').addClass('open');
        }

        $('#@ViewBag.Current' + 'Menu').addClass('active');
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61043053-1', 'auto');
        ga('send', 'pageview');
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>
