@using Microsoft.AspNet.Identity
@model LBCAlerterWeb.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Formulaire de modification du mot de passe</h4>
    <hr />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.PasswordFor(m => m.OldPassword, new { @placeholder = @Html.DisplayNameFor(m => m.OldPassword), @required = "required" })
    @Html.ValidationMessageFor(m => m.OldPassword)
    
    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = @Html.DisplayNameFor(m => m.NewPassword), @required = "required" })
    @Html.ValidationMessageFor(m => m.NewPassword)

    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword), @required = "required" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    <input type="submit" value="Modifier le mot de passe" class="btn btn-primary btn-lg" />

    <div class="links">
        @Html.ActionLink("Retour à la liste", "Index", "Search")
    </div>
}
