@model IEnumerable<LBCAlerterWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "Liste de tous les utilisateurs";
}

<h2>Liste de tous les utilisateurs (@Model.Count())</h2>

<table class="table">
    <tr>
        <th>
            Login
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Activé ?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.FirstOrDefault().Role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmailVerified)
        </td>
    </tr>
}

</table>
