@using LBCAlerterWeb.Models
@model IEnumerable<LBCAlerterWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "Tout les utilisateurs";
    ViewBag.Current = "user";
    ViewBag.Large = true;

    var dbContext = new ApplicationDbContext();
    var adminRoleId = dbContext.Roles.FirstOrDefault(role => role.Name == "admin").Id;
    var premiumRoleId = dbContext.Roles.FirstOrDefault(role => role.Name == "premium").Id;
}

<!-- page header -->
<div class="pageheader">
    <h2>
        <i class="fa fa-users"></i> Tout les utilisateurs
        <span>// @Model.Count()</span>
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>Vous êtes ici</li>
            <li><a href="@Url.Action("Index", "Search")">LBC Alerter</a></li>
            <li class="active">Tout les utilisateurs</li>
        </ol>
    </div>
</div>
<!-- /page header -->

<table class="table">
    <tr>
        <th>
            Login
        </th>
        <th>
            Type
        </th>
        <th>
            Date
        </th>
        <th>
            Activé ?
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (item.Roles.Any(role => role.RoleId == adminRoleId))
                {
                    <label>admin</label>
                }
                else if (item.Roles.Any(role => role.RoleId == premiumRoleId))
                {
                    <label>premium</label>
                }
                else
                {
                    <label>user</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                <div class="onoffswitch labeled success">
                    @Html.CheckBoxFor(modelItem => item.IsEmailVerified, new { @class = "onoffswitch-checkbox", @disabled = "true" })
                    <label class="onoffswitch-label" for="IsEmailVerified">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </td>
            <td>
                @Html.ActionLink("Premium", "AddToPremium", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>