@model LBCAlerterWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Welcome !";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
    @Html.ValidationMessageFor(m => m.Email)

    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mot de passe", @required = "required" })
    @Html.ValidationMessageFor(m => m.Password)

    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "ios-toggle" })
    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox-label" })
    @Html.Label("Mémoriser le mot de passe ?");

    <input type="submit" value="Connexion" class="btn btn-primary btn-block btn-large" />

    <div class="links">
        @Html.ActionLink("Mot de passe oublié ?", "ResetPassword")<br />
        @Html.ActionLink("Enregistrez-vous", "Register") si vous n'avez pas de compte.
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
