@model LBCAlerterWeb.Models.LoginViewModel
@{
    ViewBag.Title = "Welcome !";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(m => m.Email, new { @placeholder = @Html.DisplayNameFor(m => m.Email), @required = "required" })
    @Html.ValidationMessageFor(m => m.Email)

    @Html.PasswordFor(m => m.Password, new { @placeholder = @Html.DisplayNameFor(m => m.Password), @required = "required" })
    @Html.ValidationMessageFor(m => m.Password)

    <div class="onoffswitch-container">
        @Html.Label("Se souvenir de moi ?", new { @class = "control-label" })
        <div class="col-xs-4 control-block">
            <div class="onoffswitch primary">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "onoffswitch-checkbox" })
                <label class="onoffswitch-label" for="RememberMe">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <input type="submit" value="Connexion" class="btn btn-primary btn-lg" />

   <div class="links">
       @Html.ActionLink("Mot de passe oublié ?", "ResetPassword")<br />
       @Html.ActionLink("Enregistrez-vous", "Register") si vous n'avez pas de compte.
   </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
