@model LBCAlerterWeb.Models.ResetPasswordModel
@{
    ViewBag.Title = "Réinitialiser votre mot de passe";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Pour réinitialiser votre mot de passe merci de fournir votre email.</h4>
    <hr />
    @Html.ValidationSummary(true)
    
    
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Email)
    
    <input type="submit" class="btn btn-primary btn-block btn-large" value="Réinitialiser" />

    <div class="links">
        @Html.ActionLink("Retour à l'accueil", "Index", "Home")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}