@model LBCAlerterWeb.Models.ResetPasswordModel
@{
    ViewBag.Title = "Réinitialiser votre mot de passe";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Pour réinitialiser votre mot de passe merci de fournir votre email.</h4>
    <hr />
    @Html.ValidationSummary(true)    
    
    @Html.TextBoxFor(m => m.Email, new { @placeholder = @Html.DisplayNameFor(m => m.Email) })
    @Html.ValidationMessageFor(m => m.Email)

    <input type="submit" class="btn btn-primary btn-lg" value="Réinitialiser" />

    <div class="links">
        @Html.ActionLink("Retour à l'accueil", "Index", "Search")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}